.color-off-white {
  color: var(--off-white);
}
.color-white {
  color: var(--white);
}
.color-grey {
  color: var(--grey);
}
.color-black {
  color: var(--black);
}
.color-inside-red {
  color: var(--inside-red);
}

// WIDTH
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-1_2 {
  width: 50%;
}

// HEIGHT
.h-screen {
  height: 100vh;
  max-height: 1000px;
}
.h-screen-v {
  height: 100vh;
}
.h-full {
  height: 100%;
}

// FLEX
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
// PADDING
.p-1 {
  padding: var(--space_1);
}
.p-2 {
  padding: var(--space_2);
}
.p-3 {
  padding: var(--space_3);
}
.p-4 {
  padding: var(--space_4);
}

// MARGIN
.m-1 {
  margin: var(--space_1);
}
.m-2 {
  margin: var(--space_2);
}
.m-3 {
  margin: var(--space_3);
}
.m-4 {
  margin: var(--space_4);
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin: 0 auto;
}
.my-1 {
  margin: var(--space_1) 0;
}
.my-2 {
  margin: var(--space_2) 0;
}
.my-3 {
  margin: var(--space_3) 0;
}
.my-4 {
  margin: var(--space_4) 0;
}

.pointer {
  cursor: pointer;
}
