:root {
  // colors
  --off-white: #bbbebf;
  --white: #fff;
  --grey: #2d2d2d;
  --black: #000000;
  --inside-red: #611916;
  --slight-border: #404040;

  // deprecated
  --bg-grey: #1e1e1e;
  --text-main: #515352;

  // spacers
  --space_1: 8px;
  --space_2: 12px;
  --space_3: 16px;
  --space_4: 20px;

  // components
  --menuHeight: 60px;

  // DEV tbr
  --debugger: #f00;
}
