@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

@font-face {
  font-family: PlaydeadRegular;
  src: url("~@/assets/fonts/playdead/PLAYDEAD-Regular.ttf") format("truetype");
}
@font-face {
  font-family: PlaydeadText;
  src: url("~@/assets/fonts/playdead/PLAYDEAD-Text.ttf") format("truetype");
}
@font-face {
  font-family: PlaydeadDisplay;
  src: url("~@/assets/fonts/playdead/PLAYDEAD-Display.ttf") format("truetype");
}

body,
* {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-family: PlaydeadText, "Oswald", sans-serif;
}
