.interactive{

  .card{
    height: auto;
    padding: 10px;
    border: 1px solid var(--grey);
    background: white;
    border-radius: 8px;
    img{
      width: 100%;
      height: auto;
      margin-bottom: 24px;
    }
  }


}
